html {
    background-color:hotpink;
}

h1, h2, p, li {
    color:indigo;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color:blueviolet;
    font-size: 25px;
    font-weight: bold;
    display: block;
}



img {
    height: 400px;
    width: auto;
}